{% extends "layout.html" %} {% block title %} homepage {% endblock %} {% block main %}
<h1>Welcome to SkooPay</h1>
<div class="scroll-left">
    <h5>No more spending hours in bank Queues, Send your child's payment faster, Receive students fees quicker</h5>
</div>
<h4>If you do not have an account <a href="/auth/sign">parents register here</a>
    </br><a href="/auth/signup">for schools register here</a></h4>
<div id="login-form">
    <img src="../../static/images/skool.jpg" alt="school-image">

    <form action="/" method="post" class="card">
        <h3>Make Payment now</h3>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="schoolcode" placeholder="School Code" type="text">
        </div>
        <div class="form-group">
            <input class="form-control" name="studentcode" placeholder="Student Code" type="text">
        </div>
        <button class="btn btn-primary" type="submit">Proceed</button>
    </form>
</div>
<div class="small text-center text-muted">
    <h6><a href="#" target="blank">Terms and Conditions</a> <a href="#" target="blank">Privacy Policy</a></h6>
</div>
{% endblock %}